@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  background-color: #1b1026;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Poppins", sans-serif;
}

p {
  color: #333;
}

a {
  color: #e6e4a3;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #fffeb5;
  transform: scale(1.1);
}

.devicon-css3-plain.colored {
  color: #e6e4a3;
}
